@import "../../../variables/variables";

.content {
  display: flex;
  background: $c-main-background;
  &-main {
    flex-basis: 75%;
    box-shadow: 7px 0 7px -1px rgba(0, 0, 0, .3),
    -26px 15px 18px -22px rgba(0, 0, 0, .3);

  }

  &-sidebar {
    width: 25%;
  }
}