$c-main-background: #181818;
$c-dark-gray: #808080;
$c-gray: #a5a5a6;
$c-loulou: #444537;
$c-brown: #56271b;
$c-green: #7b958f;
$c-strong-red: #b04525;
$c-white: #fff;
$c-button: #00c1ed;



@mixin _1920 {
  @media screen and (max-width: 1920px){
    @content
  }
}

@mixin _1440 {
  @media screen and (max-width: 1440px){
    @content
  }
}

@mixin _1280 {
  @media screen and (max-width: 1280px){
    @content
  }
}

@mixin _1024 {
  @media screen and (max-width: 1024px){
    @content
  }
}

@mixin _992{
  @media screen and (max-width: 992px){
    @content
  }
}