@import "../../../styles/variables";

.slider {
  padding-top: 20px;

  &-header {
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $c-dark-gray;
  }

  &-title {
    text-transform: uppercase;
    color: $c-white;
  }

  .disabled {
    color: $c-dark-gray;
    cursor: not-allowed;
    pointer-events: none;
  }

  &-arrows {

    span {
      cursor: pointer;
      color: $c-white;
      transition: .3s all;

      &:hover {
        opacity: .5;
      }
    }
  }

  &-block {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    overflow: hidden;

    @include _1920 {
      max-width: 1300px;
    }

    @include _1440 {
      max-width: 980px;
    }

    @include _1280 {
      max-width: 800px;
    }

    @include _1024 {
      max-width: 665px;
    }

    @include _992 {
      max-width: 955px;
    }

    @include _768 {
      max-width: 720px;
    }

    @include _480 {
      max-width: 370px;
    }

    @include _375 {
      max-width: 335px;
    }
  }

  .card-item {
    margin-right: 10px;
    width: 24%;
    flex: 1 0 24%;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, .3);
    transition: .3s all;

    @include _992 {
      flex: 1 0 49%;
    }
  }
}