@import "../../../variables/variables";

.slider {
  padding-top: 20px;

  &-header {
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $c-dark-gray;
  }

  &-title {
    color: $c-white;
  }

  &-arrows {

    span {
      cursor: pointer;
      color: $c-white;
      transition: .3s all;

      &:hover {
        opacity: .5;
      }
    }
  }

  &-block {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    overflow: hidden;

    @include _1920 {
      max-width: 1300px;
    }

    @include _1440 {
      max-width: 980px;
    }

    @include _1280 {
      max-width: 800px;
    }

    @include _1024 {
      max-width: 680px;
    }
  }

  .card-item {
    margin-right: 10px;
    width: 24%;
    flex: 1 0 24%;
    transition: .5s all;
  }
}