@import "../../../styles/variables";


.promo {
  position: relative;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &-bg {
    position: absolute;

    &:after {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      width: 100%;
      bottom: 7px;
      background: rgba(0, 0, 0, .5);
    }

    img {
      width: 100%;
      height: 500px;
      object-fit: cover;
    }
  }

  &-info {
    position: relative;
    width: 500px;
    padding-right: 20px;

    @include _992 {
      width: 80%;
    }
  }

  h1 {
    font-size: 32px;
    color: $c-white;
  }

  &-genre {
    margin-bottom: 10px;
    font-weight: bold;
    color: $c-white;
  }

  &-description {
    margin-bottom: 10px;
    color: #c1c1c1;
  }

  &-actions {
    display: flex;
    align-items: center;

    a {
      margin-right: 20px;
      padding: 5px 15px;
      background: $c-button;
      color: $c-white;
      border-radius: 20px;
      transition: .3s all;

      &:hover {
        background: #205976;
      }
    }

    span {
      display: flex;
      color: $c-white;
      cursor: pointer;
      transition: .3s all;

      &:hover {
        transform: scale(1.2);
      }

      .play {
        margin-right: 5px;
      }
    }
  }
}