@import "../../../styles/variables";

.header {
  padding: 15px 20px;
  background: $c-main-background;
  box-shadow: -7px 3px 17px -6px rgba(0, 0, 0, .3);

  &-list {
    display: flex;

    @include _992 {
      justify-content: flex-end;
    }

    &__item {
      display: flex;
      width: 50%;

      &:last-of-type {
        justify-content: flex-end;
      }

      @include _992 {
        &:first-child {
          display: none;
        }
      }

      input {
        width: 55%;
        padding: 5px 15px;
        outline: none;
        border: none;
        border-radius: 15px;
        color: $c-dark-gray;
      }

      .search {
        display: block;
        margin-left: -35px;
        margin-top: 5px;
        cursor: pointer;
        color: $c-dark-gray;
      }
    }
  }

  .submenu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__item {
      margin-right: 40px;
      position: relative;
      display: flex;
      align-items: center;

      @include _992 {
        margin-right: 10px;
      }

      &:last-of-type {
        margin-right: 0;
      }

      &:hover .drop-down-menu {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .submenu-title {
    padding: 5px 25px;
    position: relative;
    color: $c-white;
    border: 1px solid $c-white;
    border-radius: 15px;
    cursor: pointer;

    @include _992 {
      font-size: 12px;
    }

    &__user {
      padding: 5px 25px 5px 3px;
      border: none;
    }
    span {
      color: #42a5db;
    }

    .arrow-down {
      position: absolute;
      color: $c-white;

      @include _992 {
        top: 2px;
      }
    }
  }

  .burger-menu__item {
    display: none;

    @include _992 {
      display: block;
    }
  }

  .drop-down-menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background: $c-main-background;
    top: 128%;
    left: 0;
    width: 100%;
    z-index: 11;
    text-align: center;
    transition: .3s all linear;

    li {
      padding: 5px 10px;
      transition: .3s all ease-in;
      border-bottom: 1px solid rgba($c-white, .3);

      &:hover {
        background: $c-gray;
      }
    }

    a {
      color: $c-white;
    }
  }

  .avatar {
    color: $c-white;
  }

  .burger-menu__action {
    position: absolute;
    top: 30px;
    left: 10px;
  }

  .burger-menu__action_open {
    position: absolute;
    display: block;
    width: 25px;
    height: 2px;
    background: $c-white;
    z-index: 15;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 7px;
      width: 25px;
      height: 2px;
      background: $c-white;
    }

    &:after{
      content: '';
      display: block;
      position: absolute;
      top: -7px;
      width: 25px;
      height: 2px;
      background: $c-white;
    }
  }

  .burger-menu__action_close {
    position: absolute;
    display: none;
    z-index: 15;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 7px;
      width: 25px;
      height: 2px;
      background: $c-white;
      transform: rotate(45deg);
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 7px;
      width: 25px;
      height: 2px;
      background: $c-white;
      transform: rotate(-45deg);
    }
  }


  &-burger-menu {
    position: absolute;
    left: 15px;
    top: 30px;
    transform: translateX(-100%);
    transition: .3s all;
    &__active {
      width: 100%;
      height: 100%;
      z-index: 50;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, .9);
      transform: translateX(0);

      .burger-menu__action_close {
        display: block;
        position: absolute;
        top: 30px;
        left: 20px;
      }

      .burger-menu {
        display: block;
      }
    }




  }

}