@import "src/variables/variables";

.header {
  padding: 10px 20px;
  background: rgba($c-main-background, .8);

  &-list {
    display: flex;

    &__item {
      display: flex;
      width: 50%;

      &:last-of-type {
        justify-content: flex-end;
      }

      input {
        width: 55%;
        padding: 5px 15px;
        outline: none;
        border: none;
        border-radius: 15px;
        color: $c-dark-gray;
      }

      .search {
        display: block;
        margin-left: -35px;
        margin-top: 5px;
        cursor: pointer;
        color: $c-dark-gray;
      }
    }
  }

  .submenu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__item {
      margin-right: 40px;
      position: relative;
      display: flex;
      align-items: center;

      &:last-of-type {
        margin-right: 0;
      }

      &:hover .drop-down-menu {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .submenu-title {
    padding: 5px 25px;
    position: relative;
    color: $c-white;
    border: 1px solid $c-white;
    border-radius: 15px;
    cursor: pointer;

    &__user {
      padding: 5px 25px 5px 3px;
      border: none;
    }
    span {
      color: #42a5db;
    }

    .arrow-down {
      position: absolute;
      color: $c-white;
    }
  }

  .drop-down-menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background: rgba($c-main-background, .8);
    top: 128%;
    left: 0;
    width: 100%;
    z-index: 10;
    text-align: center;
    transition: .3s all linear;

    li {
      padding: 5px 10px;
      transition: .3s all ease-in;
      border-bottom: 1px solid rgba($c-white, .3);

      &:hover {
        background: $c-gray;
      }
    }

    a {
      color: $c-white;
    }
  }

  .avatar {
    color: $c-white;
  }

}