@import "../../../variables/variables";


.sidebar {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: $c-main-background;

  &-navigation__list {
    padding: 20px 15px;
    position: fixed;
  }

  &-navigation__item {
    margin-bottom: 30px;
    text-align: center;
  }

  .active {
    color: #fff;

    span {
      color: #fff;
    }
  }

  &-logo {
    color: $c-dark-gray;

    span {
      color: $c-dark-gray;
    }

    &:hover, &:hover span {
      color: $c-white;
    }
  }
}