@import "../../styles/variables";

.watch-later {
  width: 100%;
  min-height: 95vh;
  background: rgba($c-main-background, .95);
  padding: 30px 40px 0;

  h1 {
    font-size: 46px;
    color: $c-white;
    margin-bottom: 20px;
  }

  .films {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .card-item {
    width: 250px;
    padding-bottom: 10px;
    border-radius: 10px;
    border: 1px solid $c-main-background;
  }
}