@import "styles/variables";

body {
  font-family: "RobotoRegular";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul,
ol{
  list-style: none;
}

a {
  text-decoration: none;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

.wrapper {
  display: flex;

  &-content {
      flex-basis: 95%;
      order: 1;

    @include _992 {
      flex-basis: 100%;
    }
  }

  &-sidebar {
    display: flex;
    flex-basis: 80px;

    @include _992 {
      display: none;
    }
  }
}