@import "../../../styles/variables";

.tabs {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include _1280 {
    width: 100%;
  }

  &__item {
    position: relative;
    color: $c-dark-gray;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s all;

    @include _992 {
      font-size: 14px;
    }

    @include _375 {
      font-size: 12px;
    }

    &:hover {
      color: $c-white;
      &:after {
        content: '';
        position: absolute;
        width: 40%;
        height: 1px;
        background: #076f78;
        bottom: -3px;
        left: 30%;
      }
    }

    &--active {
      color: $c-white;
      &:after {
        content: '';
        position: absolute;
        width: 40%;
        height: 1px;
        background: #076f78;
        bottom: -3px;
        left: 30%;
      }
    }
  }
}